<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="referrer" content="never" />
    <title>Vue.js Poster Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/public/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700,800" rel="stylesheet"
        type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/style.css">
</head>

<body>
    <div id="app">
        <div class="header">
            <div class="container">
                <div class="title">
                    <img src="public/logo.png">
                    <h1>Vue.js Poster Shop</h1>
                </div>
                <form action="" @submit.prevent="onSubmit($event)" class="search-bar">
                    <input type="text" v-model="search" name="search" id="search" placeholder="Search for poster" required>
                    <input type="submit" value="Search" class="btn">
                </form>
                <p>Try search terms <em>cat, dog, flower</em></p>
            </div>
        </div>
        <div class="main container">
            <div class="products">
                <div v-if="loading">
                    loading ...
                </div>
                <div v-else class="search-result">
                    Found {{dataCount}} results for search term <em>{{lastSearch}}</em>.
                </div>
                <div class="product" v-for="(product) in products" ::key="product.id">
                    <div>
                        <div class="product-image">
                            <img :src="product.thumb" width="100%" alt="">
                        </div>
                    </div>
                    <div>
                        
                        <h4 class="product-title">{{product.title}}</h4>
                        <p class="product-price"><strong>{{product.price | curency}}</strong></p>
                        <button @click="addToCard(product)" class="add-to-card btn py-2 ">Add To Cad</button>
                    </div>
                </div>
                <div id="product-list-bottom">
                    <div v-if="!results.length" >No More Item Found.</div>
                </div>
            </div>
            <div class="cart">
                <h2>Shopping Cart</h2>
                <transition-group name="fade" tag="ul">
                    <li v-for="(item,index) in card"  :class="{active: item.changed}" :key="index+'-'+item.id" class="cart-item">
                        <div  class="cart-title"> {{item.title}} </div>
                        <span class="item-qty">
                            {{item.price | curency}} x {{item.qty}}
                        </span>
                        <button class="btn" @click="addQty(item)">+</button>
                        <button class="btn" :class="{remove:item.remove}" @click="decreseQty(item)">-</button>
                    </li>
                </transition-group>
                        
                <ul>
                    <li v-if="!card.length" class="empty-card">
                        <div  class="cart-title "> No items in the card</div>
                    </li>
                </ul>

                <!-- <transition name="fade"> -->
                    <div v-show="card.length">
                        <div class="cart-total "> Total: {{ total | curency }}</div>
                    </div>
                <!-- </transition> -->
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="/reload/reload.js"></script>

    <!-- add vuejs -->
    <script src="./node_modules/vue/dist/vue.js"></script>

    <!-- add vue-resource  -->
    <script src="./node_modules/vue-resource/dist/vue-resource.js"></script>

    <!-- add scroll monitor library -->
    <script src="./node_modules/scrollmonitor/scrollMonitor.js"></script>

    <!-- custome scripts -->
    <script type="text/javascript" src="public/script.js"></script>

</body>

</html>